!.config
!.config/com.googlecode.iterm2.plist
!.config/nvim
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.gitconfig
!.gitignore
!.p10k.zsh
!.resources
!.resources/GruvboxDark.itermcolors
!.tmux.conf
!.zshrc
*
