*
!.config
!.config/nvim
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.config/com.googlecode.iterm2.plist
!.gitconfig
!/.gitignore
!.p10k.zsh
!.resources
!.resources/GruvboxDark.itermcolors
!.zshrc
!.env.example
!.config/opencode
!.config/opencode/oh-my-opencode.json
!.config/opencode/AGENTS.md
!.config/opencode/plugin
!.config/opencode/plugin/**
